.movies__button-more {
    background: #F9F9F9;
    border-radius: 6px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    width: 320px;
    height: 36px;
    cursor: pointer;
    transition: background 0.5s ease-in;
    padding: 0;
    margin: 0 auto;
}

.movies__button-more:hover {
    background: #ccc;
}
