.movies__list {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));*/
    grid-template-columns: repeat(3, 360px);;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
    list-style: none;
    padding: 0;
}
