.section__profile {
    min-height: calc(100vh - 74px);
    height: 100%;
    display: flex;
    align-items: center;
}

.profile__form {
    display: flex;
    flex-direction: column;
    max-width: 410px;
    align-items: center;
    width: 100%;
    margin: 123px 0 0;
    height: 100%;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .profile__form {
        margin: 96px 0 0;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .profile__form {
        justify-content: space-between;
        margin: 80px 0 0;
    }
}

.profile__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    margin: 74px 0 0;
    padding: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
    .profile__title {
        margin: 70px 0 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .profile__title {
        margin: 236px 0 0;
    }
}

.profile__fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    position: relative;
    padding: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
    .profile__fieldset {
        max-width: 260px;
    }
}

.profile__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: none;
}

.profile__text {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    position: absolute;
}

.profile__input {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    width: 100%;
    text-align: right;
    border: none;
    margin: 0;
    min-height: 14px;
    height: 100%;
    padding: 0;
}

.profile__input:focus {
    outline: none;
    background-color: #e4f9e6;
}

.profile__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 220px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .profile__button {
        margin-bottom: 261px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .profile__button {
        margin-bottom: 40px;
    }
}

.profile__button_edit{
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.profile__button_edit_disable {
    color: #a0a0a0;
    cursor: default;
}

.profile__button_signout {
    margin: 16px 0 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FF4062;
    padding: 0;
    border: none;
    background-color: transparent;
}

.profile__input-error {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    color: #FF4062;
    padding: 6px 0 0;
}

.form__line {
    border-bottom: 1px solid #E8E8E8;
    margin: 16px 0 17px;

}
