.profile__form {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 2 * 435px);
    margin: 74px auto 0;
    align-items: center;
    width: 100%;
}

.profile__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    padding: 0;
}

.profile__fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    position: relative;
    margin: 123px 0 0;
    padding: 0;
}

.profile__label {
    display: flex;
    justify-content: space-between;
    position: relative;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 16px;
}

.profile__label:last-child {
    border: none;
    padding-top: 17px;
    padding-bottom: 0;
}

.profile__text {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    position: absolute;
}

.profile__input {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    width: 100%;
    text-align: right;
    border: none;
    margin: 0;
    padding: 0;
    height: 14px;
}

.profile__input:focus {
    outline: none;
}

.profile__edit-button{
    margin: 220px 0 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.profile__signout-button {
    margin: 16px 0 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FF4062;
    padding: 0;
    border: none;
    background-color: transparent;
}
