.header__navigation {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.navigation__Link {
    font-style: normal;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.38;
}

.navigation__Link-active {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.38;
}

.header__navigation_no-auth {
    gap: 10px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .header__navigation_no-auth {
        gap: 2px;
    }
}

.navigation__Link_no-auth {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    transition: background .8s ease;
    padding: 8px 20px;
    margin: 0;
    border-radius: 3px;
    background-color: transparent;
}

.navigation__Link_no-auth:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
}
