.project__stage {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
    gap: 40px;
    margin-top: 70px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .project__stage {
        gap: 30px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .project__stage {
        margin-top: 60px;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 56px;
    }
}

.project__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    padding: 0;
    margin: 0 0 26px 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .project__subtitle {
        margin: 0 0 22px 0;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .project__subtitle {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 16px 0;
    }
}

.project__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    padding: 0;
    margin: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .project__description {
        line-height: 1.5;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .project__description {
        font-size: 11px;
        line-height: 1.45;
    }
}

.project__progress {
    margin: 110px 0;
    display: grid;
    grid-template-rows: 36px 36px;
    grid-template-columns: minmax(140px, 1fr) 4fr;
    font-size: 14px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .project__progress {
        margin: 93px 0 121px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .project__progress {
        grid-template-rows: 35px 35px;
        margin: 60px 0 70px;
    }
}

.project__progress-item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    padding: 0;
    margin: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
    .project__progress-item {
        font-size: 11px;
        line-height: 1.18;
    }
}

.project__progress-item_backend {
    background: #000;
    color: #fff;
}

.project__progress-item_frontend {
    background: #F2F2F2;
}

.project__progress-item_title {
    font-weight: 500;
    text-align: center;
    color: #A0A0A0;
}
