.form__input-email {
    font-weight: 500;
}

.form__input_not-valid {
    color: #ee3465;
}

.form__submit-button_disabled {
    background-color: #fff;
    color: #a0a0a0;
    border: 1px solid #a0a0a0;
    cursor: default;
}

.form__input-error {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: #FF4062;
    margin: 6px 0 0;
    padding: 6px 0 0;
}
