.about-section {
    display: flex;
    flex-direction: column;
    max-width: calc(1280px - 140px);
    max-height: 100%;
    width: 100%;
    margin: 110px auto 0 ;
}

.about-section__title {
    font-size: 22px;
    line-height: 27px; /*1,227*/
    /* identical to box height */
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #000;
    border-bottom: 1px solid #000;
    margin: 0;
    padding: 0 0 23px 0;
    width: 100%;
}
